<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TuiTuCode - Danh sách môn học</title>

  <!-- Custom fonts for this template-->
  <link href="/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/assets/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container-fluid">
                    <!-- DataTales Example -->
                <div class="row" style="margin-top: 10px">
                    <div class="card shadow mb-4">
                            <div class="card-header py-3">
                              <h6 class="m-0 font-weight-bold text-primary">Danh sách môn học (lý thuyết + thực hành)</h6>
                            </div>
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                             <% var x = datat.Sheet1;%>
                             <% var y = datat.Sheet2;%> 
                             <% var z = x.concat(y);%>
                             <% var dump = 0;%>                         
                             <% z.forEach(function(obj) {%>
                                <% if(obj.A === 'STT' && dump++ == 0) { %>                           
                                  <thead>
                                    <tr>
                                      <th><%= obj.A %></th>
                                      <th><%= obj.B %></th>
                                      <th><%= obj.C %></th>
                                      <th><%= obj.D %></th>
                                      <th><%= obj.E %></th>
                                      <th><%= obj.F %></th>
                                      <th><%= obj.G %></th>
                                      <th><%= obj.H %></th>
                                      <th><%= obj.I %></th>
                                      <th><%= obj.J %></th>
                                      <th><%= obj.K %></th>
                                      <th><%= obj.L %></th>
                                      <th><%= obj.M %></th>
                                      <th><%= obj.N %></th>
                                      <th><%= obj.O %></th>
                                      <th><%= obj.P %></th>
                                      <th><%= obj.Q %></th>
                                      <th><%= obj.R %></th>
                                      <th><%= obj.S %></th>
                                      <th><%= obj.T %></th>
                                      <th><%= obj.U %></th>
                                      <th><%= obj.V %></th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                    <tr>
                                        <th><%= obj.A %></th>
                                        <th><%= obj.B %></th>
                                        <th><%= obj.C %></th>
                                        <th><%= obj.D %></th>
                                        <th><%= obj.E %></th>
                                        <th><%= obj.F %></th>
                                        <th><%= obj.G %></th>
                                        <th><%= obj.H %></th>
                                        <th><%= obj.I %></th>
                                        <th><%= obj.J %></th>
                                        <th><%= obj.K %></th>
                                        <th><%= obj.L %></th>
                                        <th><%= obj.M %></th>
                                        <th><%= obj.N %></th>
                                        <th><%= obj.O %></th>
                                        <th><%= obj.P %></th>
                                        <th><%= obj.Q %></th>
                                        <th><%= obj.R %></th>
                                        <th><%= obj.S %></th>
                                        <th><%= obj.T %></th>
                                        <th><%= obj.U %></th>
                                        <th><%= obj.V %></th>
                                    </tr>
                                  </tfoot>
                                  <tbody>
                                    <%} else { %>
                                    <tr>
                                        <th><%= obj.A %></th>
                                        <th><%= obj.B %></th>
                                        <th><%= obj.C %></th>
                                        <th><%= obj.D %></th>
                                        <th><%= obj.E %></th>
                                        <th><%= obj.F %></th>
                                        <th><%= obj.G %></th>
                                        <th><%= obj.H %></th>
                                        <th><%= obj.I %></th>
                                        <th><%= obj.J %></th>
                                        <th><%= obj.K %></th>
                                        <th><%= obj.L %></th>
                                        <th><%= obj.M %></th>
                                        <th><%= obj.N %></th>
                                        <th><%= obj.O %></th>
                                        <th><%= obj.P %></th>
                                        <th><%= obj.Q %></th>
                                        <th><%= obj.R %></th>
                                        <th><%= obj.S %></th>
                                        <th><%= obj.T %></th>
                                        <th><%= obj.U %></th>
                                        <th><%= obj.V %></th>
                                    </tr>
                                    <%}%>
                                  <%});%> 
                                </tbody>
                                </table>
                              </div>
                            </div>
                    </div>


                </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/assets/js/sb-admin-2.min.js"></script>

  <!-- Page plugin -->
  <script src="/assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
  <script src="/assets/js/demo/datatables-demo.js"></script>

</body>

</html>
